@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    outline: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body{
    background-color: #542B5D ;
}

.timer{
    display: flex;
    justify-content: center;
    height: 38vh;
    align-items: flex-end;
    font-size: 100px;
    color:white;
}

.content h1{
    
    display: flex;
    justify-content:center;
    font-size: 50px;
    color:white;
}

.icones{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color:white;
}

.play{
    padding: 15px;

}

.pause{
    padding: 15px;
    display: none;
}

.refresh{
    padding: 15px;
}

.content{
    background-color: #2b0a21;
    margin: 0 600px 0 600px;
    height: 92vh;
    border-radius: 14px;
}